<div class="cantainer pos">
    <div class="row" >
    <ng-container *ngFor="let t of lesprod">
       
    
   
        <div class="hovereffect col-sm-2 col-xs-6"  *ngIf="t._id.charAt(0)==affiche()">
            <img class="img-responsive"  [src]="t._imge">
            <div class="overlay">
               <h2>SHIRT</h2>
               
               <span class="badge badge-pill badge-primary">{{t._id}}</span>
                        <span class="badge badge-pill badge-primary">{{t._libb}}</span>
                        <span class="badge badge-pill badge-primary">{{t._prix}}DTN</span><br>
                        <span class="badge badge-pill badge-primary">RM:{{statu(t._remise)}}</span>
                        <span class="badge badge-pill badge-primary">{{t.taille}}</span>
                        <br>

                        <span class="badge badge-pill badge-primary">{{t._datf|date:'yyyy-MM-dd'}}</span>
                        <br>
                        <button class="btn btn-danger" (click)="del(t._id)">delete</button>
                        <button class="btn btn-warning" (click)="mod()">modify</button>
                       
            </div>
</div>

</ng-container>
      </div>
      </div>
      <div *ngIf="test==true">
        <app-modifyp></app-modifyp>
    </div>
 
  