
<div class="absolu">
    <div class="hovereffect">
        <img  src="./assets/bg1.jpg" alt="">
        <div class="overlay">
           <h2>trousers</h2>
           <a class="info" href="#" routerLinkActive="active" [routerLink]="['/view']"(click)="val3()">view</a>
        </div>
    </div>
  </div>
  <div class="absolu1">
    <div class="hovereffect">
        <img  src="./assets/bg3.jpg" alt="">
        <div class="overlay">
           <h2>shoes</h2>
           <a class="info" href="#" routerLinkActive="active" [routerLink]="['/view']" (click)="val2()">view</a>
         
        </div>
    </div>
  </div>
  <div class="absolu2">
    <div class="hovereffect">
        <img  src="./assets/bg4.jpg" alt="">
        <div class="overlay">
           <h2>sHIRTS</h2>
           <a class="info" href="#" routerLinkActive="active" [routerLink]="['/view']" (click)="val()">view</a>
        </div>
    </div>
  </div>