<form class="container-fluid" #frm="ngForm" (ngSubmit)="ajout(frm)">
  <div class="row">


    <div class="col-md-3 col-xs-6">
      <label>id</label>
      <input type="text" class="form-control" name="id" placeholder="identificateur"  [(ngModel)]="id" required pattern="[s,t,c][0-9]+" #ide="ngModel">
      <div *ngIf="ide.errors?.pattern && ide.dirty" class="alert alert-warning">
     identificateur doit commencer par s,t,c puis
      </div>
  
    </div>

    <div class="col-md-3 col-xs-6">
      <label>libelle</label>
      <input type="text" class="form-control"  name="lib" placeholder="libelle"  [(ngModel)]="lib" required pattern="nike|adidas|puma" #libelle="ngModel">
      <div *ngIf="libelle.errors?.pattern && libelle.dirty" class="alert alert-warning">
        !!!libelle(nike,adidas,puma)
           </div>
         </div>
     
  



    <div class="col-md-3 col-xs-6">
      <label>image</label>
      <input type="file" class="form-control-file"  name="img" (change)="handleUpload($event)" [(ngModel)]="img">
    </div>



    <div class="col-md-3 col-xs-6">
      <label>taille</label>
      <select class="form-control"  name="taille" [(ngModel)]="taille">
    <option>xs</option>
    <option>s</option>
    <option>m</option>
    <option>l</option>
    <option>xl</option>
  </select>
    </div>
  </div>
    
    <div class="row">

      <div class="col-md-4 col-xs-8">
      <label>date</label>
      <input type="date" class="form-control"  name="date" placeholder="date fabrication"  [(ngModel)]="date">
      </div>



      <div class="col-md-4 col-xs-8">
        <label>$price</label>
        <input type="number" class="form-control" name="prix"   [(ngModel)]="prix" required #pr="ngModel">
        <div *ngIf="pr.invalid && pr.dirty" class="alert alert-warning">prix nonmbre
</div>

        </div>


     <div class="col-md-4 col-xs-8">
      <label>remise</label>
    
      <input type="text" class="form-control" name="remise" placeholder="remise"  [(ngModel)]="remise" required pattern="oui|non" #rm="ngModel">
      <div *ngIf="rm.errors?.pattern && rm.dirty" class="alert alert-warning">
      remise(oui,non);
      </div>
    </div>

    
    
    </div>
    
   
    <br>
    <br>
  <br>
  <button type="submit" class="btn btn-primary">OK</button>
  <button type="reset" class="btn btn-danger">CANCEL</button>
    </form>