<form >
    <fieldset>
    
     
     
      <div class="form-group">
        <h3>iddentificateur produit</h3>
        <input type="text" class="form-control" id="id" placeholder="iddentificateur">
      </div>
      <div class="form-group">
        <h3>libelle</h3>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="libelle">
      </div>
      <div class="form-group">
        <h3>image</h3>
        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
        
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">prix</label>
        <input type="number" class="form-control" id="exampleInputPassword1" placeholder="iddentificateur">
      </div>
      <div class="form-group">
        <h3>statu</h3>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="statu">

      </div>
      <div class="form-group">
        <h3>date fabrication</h3>
        <input type="date" class="form-control" id="exampleInputPassword1" >
        
      </div>
      <div class="form-group">
        <h3>type</h3>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="jeans..">
        
      </div>
      <div class="form-group">
        <h3>taille</h3>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="XS/S/M/L..">
        
      </div>
      
      <button type="submit" class="btn btn-success">ajouter</button>
      <button type="reset" class="btn btn-danger">annuler</button>
    </fieldset>
  </form>